.app {
  
}

.artist-search {
  border: none;
  color: #89ce40;
}

.song-card {
  border-radius: 7px;
  background-color: #cac7ce;
  color: #fff;
  height: 300px;
  width: 300px;
}

.card-title {
  background-color: #8ccf44;
  border-radius: 5px;
  padding: 4px;
}

.button {
  background-color: rgb(241, 114, 50);
}