.app {
  
}

.artist-search {
  border: none;
  color: #0B486B;
}

.song-card {
  border-radius: 7px;
  background-color: #CFF09E;
  box-shadow: 5px 8px 5px #ddd;
  height: 460px;
  width: 250px;
}

.card-title {
  background-color: #3B8686;
  color: #eee;
  font-size: 20px;
  border-radius: 5px 5px 0px 0px;
  height: 68px;
  width: 100%;
}

.card-info {
  color: #333;
}

.btn-sort {
  background-color: #3B8686;
  color: #eee;
  border: none;
}
.btn-sort:hover {
  background-color: #A8DBA8;
  border: none;
}
.btn-sort:active, .btn-sort:focus, .btn-sort:visited, .btn-sort:target {
  background-color: #79BD9A !important;
}



/* todo: delete these */
.colors {
  a: #CFF09E;
  b: #A8DBA8;
  c: #79BD9A;
  d: #3B8686;
  e: #0B486B;
}